<main>
  <div class="container-fluid">
    <div class="row flex-md-row-reverse mb-7 mb-md-9">
      <div class="col-12 col-md-7 px-0 overflow-hidden">
        <picture>
          <source media="(min-width: 768px)" srcset="/mapleRoyals-Node.js/images/wallpaper-l.png">
          <img class="w-100" src="/mapleRoyals-Node.js/images/wallpaper-m.png" alt="hexo banner">
        </picture>
      </div>
      <div class="col-10 col-md-4 mx-auto mx-md-0">
        <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start h-100">
          <h1 class="mb-4 text-primary-700 fw-semibold">最初的感動</h1>
          <p class="text-center text-md-start text-primary-600 fs-5 mb-0">MapleRoyals是全世界最大的私服</p>
          <p class="text-center text-md-start text-primary-600 fs-5">本站將提供線上中文資源</p>
          <p class="text-center text-md-start text-primary-400 mb-9">楓之谷 / 懷舊 / 國際服 / 私服 / 中文</p>
          <div class="d-flex gap-3">
            <a class="icon-link link-primary-600 px-2 fs-1" href="https://royals.ms/forum/forums/%E4%B8%AD%E6%96%87.82">
              <i class="bi bi-house-fill"></i>
            </a>
            <a class="icon-link link-primary-600 px-2 fs-1" href="https://www.facebook.com/share/UsE9FZuF9AscgFW2/?mibextid=K35XfP">
              <i class="bi bi-facebook"></i>
            </a>
            <a class="icon-link link-primary-600 px-2 fs-1" href="https://discord.gg/A3U2jdvP">
              <i class="bi bi-discord"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section>
    <h2 class="title-deco py-7 py-md-9 text-center text-primary-700 tracking-wide fw-semibold">經典內容</h2>
    <div
      class="pt-9"
      style="background-image: url('/mapleRoyals-Node.js/images/homepage-work1-bg.png');background-repeat: no-repeat;background-position: center;background-size: cover;"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-7">
            <img class="img-fluid" src="/mapleRoyals-Node.js/images/homepage-work1.png" alt="work1">
          </div>
          <div class="col-12 col-md-6 col-xl-5 d-none d-md-flex flex-md-column justify-content-center">
            <div class="px-7 py-9 bg-white-overlay rounded-5">
              <h3 class="mb-2 text-primary-50">未來東京</h3>
              <p class="mb-4 fs-6 text-primary-50">180等 奧芙赫斑</p>
              <div class="pb-7 mb-7 border-bottom border-white">
                <span class="badge mb-2 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">絕版副本</span>
                <span class="badge mb-2 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">日本</span>
                <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">LV180 BOSS</span>
              </div>
              <div class="d-flex justify-content-center">
                <a
                  class="btn btn-lg px-6 py-3 fs-5 fw-bold text-primary-50 bg-primary-900 icon-link icon-link-hover link-primary-500"
                  href="/collection"
                >
                  完整介紹
                  <span class="bi material-symbols-outlined align-text-bottom">arrow_forward</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none pt-4 pb-8 text-center">
      <h3 class="mb-2">未來東京</h3>
      <p class="mb-3 fs-6 text-primary-600">180等 奧芙赫斑</p>
      <div class="mb-4">
        <span class="badge mb-3 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">絕版副本</span>
        <span class="badge mb-3 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">日本</span>
        <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">LV180 BOSS</span>
      </div>
      <a
        class="btn btn-sm px-3 py-2 fs-6 fw-bold text-primary-50 bg-primary-900"
        href="/collection"
      >
        完整介紹
        <span class="material-symbols-outlined align-top">arrow_forward</span>
      </a>
    </div>

    <div
      class="position-relative py-9"
      style="background-image: url('/mapleRoyals-Node.js/images/homepage-work2-lg.png');background-repeat: no-repeat;background-position: center;
      background-size: cover;"
    >
      <div class="container">
        <div class="row">
          <div
            class="d-none d-md-block col-md-6 position-absolute top-0 start-0 h-100"
            style="background-color: #0A101380;"
          >
          </div>
          <div
            class="col-12 col-md-6 col-xl-5 d-none d-md-flex flex-md-column justify-content-center"
            
          >
            <div class="px-7 py-9 bg-white-overlay rounded-5">
              <h3 class="mb-2 text-primary-50">馬來西亞夢幻公園 烏魯城大冒險</h3>
              <p class="mb-4 fs-6 text-primary-50">140等 克雷賽爾</p>
              <div class="pb-7 mb-7 border-bottom border-white">
                <span class="badge me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">世界旅行</span>
                <span class="badge me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">新加坡</span>
                <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">LV140 BOSS</span>
              </div>
              <div class="d-flex justify-content-center">
                <a
                  class="btn btn-lg px-6 py-3 fs-5 fw-bold text-primary-50 bg-primary-900 icon-link icon-link-hover link-primary-500"
                  href="/collection"
                >
                  完整介紹
                  <span class="bi material-symbols-outlined align-text-bottom">arrow_forward</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 invisible">
            <img class="img-fluid" src="/mapleRoyals-Node.js/images/homepage-work1.png" alt="work1">
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none pt-4 pb-8 text-center">
      <h3 class="mb-2">烏魯城大冒險</h3>
      <p class="mb-3 fs-6 text-primary-600">140等 克雷賽爾</p>
      <div class="mb-4">
        <span class="badge me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">世界旅行</span>
        <span class="badge me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">新加坡</span>
        <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">LV140 BOSS</span>
      </div>
      <a
        class="btn btn-sm px-3 py-2 fs-6 fw-bold text-primary-50 bg-primary-900"
        href="/collection"
      >
        完整介紹
        <span class="material-symbols-outlined align-top">arrow_forward</span>
      </a>
    </div>

    <div
      class="position-relative py-9"
      style="background-image: url('/mapleRoyals-Node.js/images/homepage-work3-bg.png');background-repeat: no-repeat;background-position: center;background-size: cover;"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-12 position-absolute top-0 start-0 bottom-0 end-0 h-100"
            style="background-color: #0D0C0780;"
          ></div>
          <div class="col-12 col-md-6 col-xl-7 z-1">
            <img class="img-fluid" src="/mapleRoyals-Node.js/images/homepage-work3.png" alt="work1">
          </div>
          <div class="col-12 col-md-6 col-xl-5 d-none d-md-flex flex-md-column justify-content-center">
            <div class="px-7 py-9 bg-white-overlay rounded-5">
              <h3 class="mb-2 text-primary-50">馬來西亞夢幻公園</h3>
              <p class="mb-4 fs-6 text-primary-50">140等 泰勒熊、娃娃獅王</p>
              <div class="pb-7 mb-7 border-bottom border-white">
                <span class="badge mb-2 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">世界旅行</span>
                <span class="badge mb-2 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">馬來西亞</span>
                <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">LV140 BOSS</span>
              </div>
              <div class="d-flex justify-content-center">
                <a
                  class="btn btn-lg px-6 py-3 fs-5 fw-bold text-primary-50 bg-primary-900 icon-link icon-link-hover link-primary-500"
                  href="/collection"
                >
                  完整介紹
                  <span class="bi material-symbols-outlined align-text-bottom">arrow_forward</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none pt-4 pb-8 text-center">
      <h3 class="mb-2">馬來西亞夢幻公園</h3>
      <p class="mb-3 fs-6 text-primary-600">140等 泰勒熊、娃娃獅王</p>
      <div class="mb-4">
        <span class="badge mb-3 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">世界旅行</span>
        <span class="badge mb-3 me-2 fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">馬來西亞</span>
        <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">LV140 BOSS</span>
      </div>
      <a
        class="btn btn-sm px-3 py-2 fs-6 fw-bold text-primary-50 bg-primary-900"
        href="/collection"
      >
        完整介紹
        <span class="material-symbols-outlined align-top">arrow_forward</span>
      </a>
    </div>
  </section>

  <section
    class="pt-7 pb-7 pb-md-9"
    style="background-image: url('/mapleRoyals-Node.js/images/homepage-services-bg.png');
    background-repeat: no-repeat;
    background-size: cover;"
  >
    <div class="container px-6 px-md-4">
      <h2 class="title-deco py-7 py-md-9 text-center text-primary-700 tracking-wide fw-semibold">本服優勢</h2>
      <div class="row row-gap-4 mb-7 mb-md-9">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="bg-service d-flex flex-column justify-content-center align-items-center rounded-4">
            <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
              <img class="mb-4" src="/mapleRoyals-Node.js/images/service-item-system-stability.svg" alt="system stability">
              <h3 class="text-primary-50">系統穩定</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="bg-service d-flex flex-column justify-content-center align-items-center rounded-4">
            <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
              <img class="mb-4" src="/mapleRoyals-Node.js/images/service-item-biggest-community.svg" alt="biggest community">
              <h3 class="text-primary-50">私服第一</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="bg-service d-flex flex-column justify-content-center align-items-center rounded-4">
            <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
              <img class="mb-4" src="/mapleRoyals-Node.js/images/service-item-job-balance.svg" alt="job balance">
              <h3 class="text-primary-50">職業平衡</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="bg-service d-flex flex-column justify-content-center align-items-center rounded-4">
            <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
              <img class="mb-4" src="/mapleRoyals-Node.js/images/service-item-permanent-free.svg" alt="permanent free">
              <h3 class="text-primary-50">永久免費</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center pb-7 pb-md-9">
        <a
          class="d-none d-md-block btn btn-lg px-6 py-3 fs-5 fw-bold text-primary-50 bg-primary-900 icon-link icon-link-hover link-primary-500"
          href="/service"
        >
          了解更多
          <span class="bi material-symbols-outlined align-text-bottom">arrow_forward</span>
        </a>
        <a
          class="d-md-none btn px-3 py-2 fw-bold text-primary-50 bg-primary-900"
          href="/service"
        >
          了解更多
          <span class="material-symbols-outlined align-text-bottom">arrow_forward</span>
        </a>
      </div>
    </div>
  </section>

  <section class="container pb-7 pb-md-9">
    <h2 class="title-deco py-7 py-md-9 mt-7 mt-md-9 text-center text-primary-700 tracking-wide fw-semibold">文章分享</h2>

      <div class="row row-gap-5 mb-7">
        <div class="swiper">
          <div class="swiper-wrapper mb-9">
          <% const limit = 5 %>
          <% page.posts.slice(0, limit).each((post) => { %>
            <div class="swiper-slide col-12 col-md-6 col-lg-4">
              <div class="card border-0">
                <img src="<%= post.cover %>" class="card-img-top rounded-3" alt="article-1">
                <div class="card-body">
                  <h5 class="card-title mb-3 text-primary-700"><%= post.title %></h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <%- list_tags(post.tags, {
                      show_count: false,
                      amount: 2,
                      style: 'list',
                      separator: '',
                      class: {
                        ul: 'd-flex gap-2 mb-0 overflow-x-hidden list-unstyled',
                        a: 'badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4 text-decoration-none '
                      }
                    }) %>
                    
                    <p class="card-text fs-6 text-primary-600"><small class="text-body-secondary"><%= date(post.date, 'YYYY/MM/DD') %></small></p>
                  </div>
                  <a class="stretched-link" href="<%= post.path %>"></a>
                </div>
              </div>
            </div>
          <% }) %>

          </div>
          <div class="swiper-pagination d-none d-md-block"></div>
        </div>
      </div>

    <div class="d-flex d-md-none justify-content-center mb-7">
      <a
        class="btn btn-lg fs-6 fw-bold text-primary-50 bg-primary-900"
        href="/blog"
      >
        更多文章
        <span class="material-symbols-outlined align-text-bottom">arrow_forward</span>
      </a>
    </div>
  </section>
</main>